<div id="home">

  {{!-- header --}}
  <div class="jumbotron header sticky-top">
    <div class="col">
      <h1 class="text-right"><span class="flow">flow</span><br><span class="expense-tracker border border-dark rounded">Expense
          Tracker</span></h1>
    </div>
  </div>

  <div class="container py-4">

    {{!-- primary page content area --}}
    <div class="row" id="mainBox">
      {{!-- Left Side of top bar AKA input and items list --}}
      <div class="col m-1" id="mainColLeft">

        {{!-- User input fields for items --}}
        <div class="row" id="topLeftRow">

          <div class="col" <form id="newItemCreateForm">
            <div class="row">

              <div class="col">
                <input type="number" id="item-price" class="form-control" aria-label="Dollar ammount (with dot and two decimal places)">
              </div>


              <div class="col" id="item-type">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-label="wantNeed"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Type
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu wantNeed">
                    <a class="dropdown-item" href="#">Want</a>
                    <a class="dropdown-item" href="#">Need</a>
                  </div>
                </div>
                {{!-- <input type="text" id="item-type" class="form-control" aria-label="item type"> --}}

              </div>

              <div class="col" id="item-category">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" aria-label="category" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Category
                  </button>
                  <div class="dropdown-menu" aria-labelledby="category">
                    <a class="dropdown-item" href="#">Rent</a>
                    <a class="dropdown-item" href="#">Groceries</a>
                    <a class="dropdown-item" href="#">Debt</a>
                  </div>
                </div>
                {{!-- <input type="text" id="item-category" class="form-control" aria-label="item category"> --}}

              </div>

              <div class="col">
                <input class="btn btn-secondary" type="submit" value="Add Item" id="new-item-submit">
              </div>

            </div>
            </form>
          </div>

        </div>

        {{!-- Interactive Display of users items in database w/ handlebars --}}
        <div class="row" id="botLeftRow">
          <div class="col">
            <div class="container">
              {{!-- handlebars from database of users items with ability to delete from database --}}
              <h3 class="text-left py-5">User Items</h3>
              <ul id="user-items" class="list-group">
                {{#each userData}}
                <li class="list-group-item my-2">
                  <strong>Price $</strong>{{this.Price}} <br> <strong>Type: </strong>{{this.Typeof}} <br> <strong>Category:
                  </strong>{{this.Category}} <br> {{!--<strong>Created on: </strong> {{this.createdAt}}--}}
                  <button class="btn btn-danger float-right delete" data-id="{{this.itemId}}">ｘ</button>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        {{!-- End of main left side column --}}
      </div>

      {{!-- Start of main right side column --}}
      <div class="col" id="mainColRight">

        {{!-- User selection fields for modifying graphs --}}
        <div class="row" id="topRightRow">

          {{!-- chart dropdown --}}
          <div class="col">
            <form>
              <div class="row">
                <div class="dropdown mx-5 my-1">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Chart Selection
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Bar Chart</a>
                    <a class="dropdown-item" href="#">Pie Chart</a>
                    <a class="dropdown-item" href="#">Line Chart</a>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>

        {{!-- Box to display graphs--}}

        <div class="row" id="botLeftRow">
          <div class="col">

            <div class="container m-3">
              {{!-- this is where the charts display --}}
              <div id="chartHolder">
                <canvas id="LineChart" width="400" height="400"></canvas>
                <canvas id="PieChart" width="400" height="400"></canvas>
                <canvas id="BarChart" width="400" height="400"></canvas>
              </div>
            </div>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>

{{!-- saved code --}}

{{!-- <ul>
  {{#each items}}
  <li data-id="{{this.id}}" class="list-group-item">
    <a href="example/{{this.id}}">{{this.text}}</a>
    <button class="btn btn-danger delete">ｘ</button>
  </li>
  {{/each}}
</ul> --}}


{{!-- saved code --}}

{{!-- <h3>Existing Users</h3>
<ul id="existing-users" class="list-group">
  {{#each userData}}
  <li data-id="{{this.itemId}}" class="list-group-item">
    <a href="users/{{this.itemId}}">{{this.Store}}</a>
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
  {{/each}}
</ul> --}}

{{!--libraries--}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>

{{!--custom script--}}
<script src="/js/loggedIn.js"></script>
<script src="/js/chart.js"></script>